<h1>My bookings:</h1>


<div class="card w-150">
  <div class="card-body">
    <% if @bookings %>
      <ul>
        <% @bookings.each do |booking| %>
          <h5 class="card-title"><%= booking.bike.brand %></h5>
          <li><%= booking.booking_start %> ||
          <%= booking.booking_end %> || <%= booking.total_price %>
          <%= link_to "Delete?", booking_path(booking), class: "btn btn-info", method: :delete, data: { confirm: "Are you sure?" }  %>
          <%= link_to "Details", booking_path(booking), class:"btn btn-info" %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
