<div class = "container mt-5">


<div class='container'>
  <div class='row'>
    <div id="bike-info" class='col-6'>
      <% if !@bike.photo.key.nil? %>
        <%= cl_image_tag @bike.photo.key, height: 200, width: 300, crop: :fill %>
      <% end %>

      <p class = "text-center">Brand:
      <%= @bike.brand %> -
      price per day:
      <%= @bike.price_per_day %>$
      location: <%= @bike.location %></p>

      <% if @bike.user == current_user %>
        <%= link_to "Edit", edit_bike_path(@bike) %>
      <% end %>

      <% if @bike.user == current_user %>
        <%= link_to "Delete", bike_path(@bike),
        data: { confirm: "Are you sure you want to delete this bike?" },
        method: :delete,
        class: 'ms-3 text-danger' %>
      <% end %>
      </p>
    </div>
    <div  id="map-mapbox" class='col-6' style="width: 50%; height: 500px;"
          data-controller="mapbox"
          data-mapbox-markers-value="<%= @markers.to_json %>"
          data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>


<% unless @bike.user == current_user %>
  <h3 class="text-begin mb-4 mt-5">Book this Bike:</h3>

    <%= simple_form_for([@bike, @booking]) do |f| %>
      <%= f.input :booking_start, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.input :booking_end, as: :string, required: false, input_html: {class: "datepicker"} %>
        <%= f.button :submit, "Book", class: "btn btn-info mb-5 mt-3 rounded" %>
    <% end %>

<% end %>
