<div class = "container mt-5">
  <%#= link to the image %>
  <% if !@bike.photo.key.nil? %>
    <%= cl_image_tag @bike.photo.key, height: 200, width: 300, crop: :fill %>
  <% end %>

  <p>brand:
  <%= @bike.brand %> -
  price per day:
  <%= @bike.price_per_day %>$
  location: <%= @bike.location %>

  <% if @bike.user == current_user %>
    <%= link_to "Edit", edit_bike_path(@bike) %>
  <% end %>


  <% if @bike.user == current_user %>
    <%= link_to "Delete", bike_path(@bike),
    data: { confirm: "Are you sure you want to delete this bike?" },
    method: :delete,
    class: 'ms-3 text-danger' %>
  <% end %>
  </p>

  <% if user_signed_in? && @bike.user != current_user %>
    <div class="container mb-4">
        <h2>Book this Bike</h2>
        <%= simple_form_for ([@bike, @booking]) do |f| %>
          <%= f.input :booking_start, placeholder: 'booking_start' %>
          <%= f.input :booking_end, placeholder: 'booking_end' %>
          <%= f.submit class: 'btn btn-info' %>
        <% end %>
    </div>
  <% end %>
</div>

<div>
  <div style="width: 100%; height: 600px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
